{% extends "ez_main/base.html" %}

{% block content %}

<div class="modal-dialog text-center">
   <div class="col-sm-8 main-section">
      <div class="modal-content">
         <div class="col-12">
            <h4>Guests Login Here!</h4>
            <p>To login, please enter the username of the individual who you will be purchasing books for.</p>
            <br />

            <form method="post" action="{% url 'ez_main:guest_login' %}" class="form">
               {% csrf_token %}

                  <input type="text" name="username">
                  <button name="submit" class="btn btn-primary btn3d" id="submit-btn">Login</button>
                  <p>{{error_message}}</p>

                  <input type="hidden" name="next" value="{% url 'ez_main:home_page' %}"/>
            </form>
         </div>
      </div>
   </div>
 </div>

{% endblock content %}