{% extends "ez_main/base.html" %}

{% block content %}

<div class="modal-content medium">
   <h4>Order Information</h4>
   <form method="post" id="checkout_form" action="{% url 'ez_main:checkout_page' %}">
      {% csrf_token %}
      <div>
         <input id="fName" name="fName" type="text" placeholder="First Name" required>
         <input id="lName" name="lName" type="text" placeholder="Last Name" required>
      </div>

      <div>
         <input type="radio" name="order_option" id="deliver" autocomplete="off" onclick="orderCheck()" checked> Deliver
         <input type="radio" name="order_option" id="pickup" autocomplete="off" onclick="orderCheck()"> Pickup
      </div>

      <br />
      <div>
         <div id="delivery_info">
            <p>Delivery Information</p> <br />

            <label for="dorm">Choose Your Dorm:</label>
            <select class="select-small" id="dorm" name="dormChoice" form="checkout_form">
               <option value="Ballard Hall">Ballard Hall</option>
               <option value="Bradley Tower">Bradley Tower</option>
               <option value="Campus House">Campus House</option>
               <option value="Coberly Hall">Coberly Hall</option>
               <option value="Dixon Tower">Dixon Tower</option>
               <option value="Griffith Tower">Griffith Tower</option>
               <option value="Rice Tower">Rice Tower</option>
               <option value="Young Tower">Young Tower</option>
            </select>

            <br />
            <input id="roomNum" name="roomNum" type="text" placeholder="Room Number">
            <p id="errorMessage"></p>
         </div>

         <div id="pickup_info" style="display:none">
            <p>Your order will be ready for pickup in the next 30 minutes in the MacKenzie Building Great Hall.</p>
         </div>
      </div>

      {% if user.is_authenticated %}
         <p>The following amount will be charged to your college account: ${{book_total}}</p>
      {% else %}
         <br />
         <p>Credit Card Infomation</p> <br />
         <input type="text" placeholder="Card Holder" required> <br />
         <input type="number" id="cardnumer" placeholder="Card Number" required>
         <input type="number" id="cvv-number" placeholder="CVV" required> <br />

         <label>Expiration Date:</label>
         <select class="select-small">
            <option value="January">January</option>
            <option value="February">February</option>
            <option value="March">March</option>
            <option value="April">April</option>
            <option value="May">May</option>
            <option value="June">June</option>
            <option value="July">July</option>
            <option value="August">August</option>
            <option value="October">October</option>
            <option value="September">September</option>
            <option value="November">November</option>
            <option value="December">December</option>
         </select>
         <select class="select-small">
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
            <option value="2026">2026</option>
            <option value="2027">2027</option>
            <option value="2028">2028</option>
            <option value="2029">2029</option>
            <option value="2030">2030</option>
         </select>

         <p>The following amount will be charged to your credit card: ${{book_total}}</p>
      {% endif %}

      <input type="hidden" name="bookTotal" value="{{book_total}}">
      <input type="hidden" name="delivery_method" id="delivery_method">
      <button type="submit" class="btn btn-primary btn3d" onclick="return pageValidation()">Submit Your Order</button>

   </form>
</div>

<script>
   function pageValidation()
   {
      var validFlag;

      if(document.getElementById("deliver").checked)
      {
         validFlag = roomCheck();
         document.getElementById("delivery_method").value = "deliver";
         return validFlag;
      }
      else
      {
         document.getElementById("delivery_method").value = "pickup";
      }
   }

   function roomCheck()
   {
      var roomNum = Number(document.getElementById("roomNum").value); // Get the room number
      var errorMessage = "Please enter a valid room number"           // Display the error message

      if (isNaN(roomNum)) {
         document.getElementById('errorMessage').innerHTML = errorMessage;
         return false;
      } else if (document.getElementById('dorm').value == "Ballard Hall") {
         if (roomNum <= 1099 || roomNum >= 1500){
            document.getElementById('errorMessage').innerHTML = errorMessage;
            return false;
         }   
      } else if (document.getElementById('dorm').value == "Bradley Tower") {
         if (roomNum <= 3099 || roomNum >= 4000){
            document.getElementById('errorMessage').innerHTML = errorMessage;
            return false;
         }
      } else if (document.getElementById('dorm').value == "Campus House") {
         if (roomNum < 100 || roomNum >= 400){
            document.getElementById('errorMessage').innerHTML = errorMessage;
            return false;
         }
      } else if (document.getElementById('dorm').value == "Coberly Hall") {
         if (roomNum <= 2099 || roomNum >= 2500){
            document.getElementById('errorMessage').innerHTML = errorMessage;
            return false;
         }
      } else if (document.getElementById('dorm').value == "Dixon Tower") {
         if (roomNum <= 4099 || roomNum >= 5000){
            document.getElementById('errorMessage').innerHTML = errorMessage;
            return false;
         }
      } else if (document.getElementById('dorm').value == "Griffith Tower") {
         if (roomNum <= 5099 || roomNum >= 6000){
            document.getElementById('errorMessage').innerHTML = errorMessage;
            return false;
         }
      } else if (document.getElementById('dorm').value == "Rice Tower") {
         if (roomNum <= 6999 || roomNum >= 8000){
            document.getElementById('errorMessage').innerHTML = errorMessage;
            return false;
         }
      } else if (document.getElementById('dorm').value == "Young Tower") {
         if (roomNum <= 6099 || roomNum >= 7000){
            document.getElementById('errorMessage').innerHTML = errorMessage;
            return false;
         }
      } 
   }

   function orderCheck()
   {
      if(document.getElementById("deliver").checked)
      {
         document.getElementById("pickup_info").style.display = "none";
         document.getElementById("delivery_info").style.display = "block";
         // Enable the room information input fields
         document.getElementById("dorm").disabled = false;
         document.getElementById("roomNum").disabled = false;

         // Set the delivery method
         document.getElementById("delivery_method").value = "delivery";
      }
      else if(document.getElementById("pickup").checked)
      {
         document.getElementById("pickup_info").style.display = "block";
         document.getElementById("delivery_info").style.display = "none";
         // Disable the room information input fields
         document.getElementById("dorm").disabled = true;
         document.getElementById("roomNum").disabled = true;

         // Set the delivery method
         document.getElementById("delivery_method").value = "pickup";
      }
   }

</script>

{% endblock content %}