{% extends "ez_main/base.html" %}

{% block content %}

    <div class="modal-content medium">
        <h4>Thank you for shopping with us!</h4>

        <p>Here are your order details</p>

        Order for: {{fName}} {{lName}} <br />
        Deliver to: {{dormChoice}}, Room {{roomNum}} <br />
        Amount charged: {{bookTotal}} <br />

        <form method="post" action="{% url 'ez_main:confirmation_page' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn3d">Okay</button>
        </form>

    </div>

{% endblock content %}